fastapi==0.110.0
firebase_admin==6.4.0
passlib==1.7.4
protobuf==4.25.3
pydantic==2.6.3
python_jose==3.3.0
SQLAlchemy==2.0.25
uvicorn>=0.15.0
cloud-sql-python-connector[pg8000]==1.6.0
google-auth==2.27.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.18.0
google-cloud-storage==2.14.0
pydantic[email]==2.1.1
python-multipart==0.0.6