fastapi==0.110.0
firebase_admin==6.5.0
argon2==0.1.10
protobuf==4.25.3
pydantic==2.6.3
python_jose==3.3.0
SQLAlchemy==2.0.25
uvicorn==0.15.0
google-auth==2.27.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
pydantic[email]
python-multipart==0.0.6
passlib==1.7.4
redis==5.0.4
python-Levenshtein==0.25.1
asyncpg==0.29.0
contextlib2==21.6.0
python-dotenv==1.0.1
opencv-python==4.10
numpy==1.26.4